.table {
	
	width: 100%;
	line-height: 1.5rem;

	th, td {
		text-align: left;
		padding: 0.25rem;
	}

	th {
		border-bottom: 	1px solid #fff;
	}
	td {
		font-weight: 300;
	}
	tr:first-child td {
		padding-top: 1rem;
	}
}