.dropzone {
  background: transparent;
  margin-bottom: 0;
  line-height: 50px;
  @extend .align-center;
  font-weight: bold;
  border: $dropzoneBorder dashed 5px;
  box-shadow: none;
  .help-text {
    color: $dropzoneHelpText;
    font-size: 25px;
  }

  &.in {
    background: lawngreen;
  }

  &.hover {
    background: darken($white, 5%);
    border-color: darken($dropzoneBorder, 5%);
    .help-text {
      color: darken($dropzoneHelpText, 5%);
    }
  }

  &.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}