// @font-face {
//   font-family: "SST";
//   src: url('fonts/sst-light.eot');
//   src: url('fonts/sst-light.eot?#iefix') format('embedded-opentype'),
//        url('fonts/sst-light.woff') format('woff'),
//        url('fonts/sst-light.ttf') format('truetype'),
//        url('fonts/sst-light.svg#sstlight') format('svg');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "SST";
//   src: url('fonts/sst-light-italic.eot');
//   src: url('fonts/sst-light-italic.eot?#iefix') format('embedded-opentype'),
//        url('fonts/sst-light-italic.woff') format('woff'),
//        url('fonts/sst-light-italic.ttf') format('truetype'),
//        url('fonts/sst-light-italic.svg#sstlight_italic') format('svg');
//   font-weight: 300;
//   font-style: italic;
// }

@font-face {
  font-family: "SST";
  src: url('fonts/sst-regular.eot');
  src: url('fonts/sst-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/sst-regular.woff') format('woff'),
       url('fonts/sst-regular.ttf') format('truetype'),
       url('fonts/sst-regular.svg#sstregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SST";
  src: url('fonts/sst-italic.eot');
  src: url('fonts/sst-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/sst-italic.woff') format('woff'),
       url('fonts/sst-italic.ttf') format('truetype'),
       url('fonts/sst-italic.svg#sstitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SST";
  src: url('fonts/sst-medium.eot');
  src: url('fonts/sst-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/sst-medium.woff') format('woff'),
       url('fonts/sst-medium.ttf') format('truetype'),
       url('fonts/sst-medium.svg#sstmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SST";
  src: url('fonts/sst-medium-italic.eot');
  src: url('fonts/sst-medium-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/sst-medium-italic.woff') format('woff'),
       url('fonts/sst-medium-italic.ttf') format('truetype'),
       url('fonts/sst-medium-italic.svg#sstmediumitalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SST";
  src: url('fonts/sst-bold.eot');
  src: url('fonts/sst-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/sst-bold.woff') format('woff'),
       url('fonts/sst-bold.ttf') format('truetype'),
       url('fonts/sst-bold.svg#sstbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SST";
  src: url('fonts/sst-bold-italic.eot');
  src: url('fonts/sst-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/sst-bold-italic.woff') format('woff'),
       url('fonts/sst-bold-italic.ttf') format('truetype'),
       url('fonts/sst-bold-italic.svg#sstbold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}

// @font-face {
//   font-family: "SST";
//   src: url('fonts/sst-black.eot');
//   src: url('fonts/sst-black.eot?#iefix') format('embedded-opentype'),
//        url('fonts/sst-black.woff') format('woff'),
//        url('fonts/sst-black.ttf') format('truetype'),
//        url('fonts/sst-black.svg#sstheavy') format('svg');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: "SST";
//   src: url('fonts/sst-black-italic.eot');
//   src: url('fonts/sst-black-italic.eot?#iefix') format('embedded-opentype'),
//        url('fonts/sst-black-italic.woff') format('woff'),
//        url('fonts/sst-black-italic.ttf') format('truetype'),
//        url('fonts/sst-black-italic.svg#sstheavy_italic') format('svg');
//   font-weight: 900;
//   font-style: italic;
// }
