.button {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: $button-bg;
	color: $button-color;
	&:hover {
		background-color: $button-hover-bg;
	}
	border: none;
}

.btn {
    padding: 0.25rem 1rem;
    border-radius: 2px;
    line-height: 1.5rem;
    text-align: center;
    display: inline-block;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    background: #338ad8;
    color: #fff;
    font-size: 1rem;
}

.btn-right {
    display: inline-block;
    float: right;
}
.btn-left {
    display: inline-block;
    float: left;
}
