@font-face {
  font-family: 'exoregular';
  src: url('../fonts/exo/exo-regular-webfont.eot');
  src: url('../fonts/exo/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/exo/exo-regular-webfont.woff') format('woff'),
       url('../fonts/exo/exo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exobold';
  src: url('../fonts/exo/exo-bold-webfont.eot');
  src: url('../fonts/exo/exo-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/exo/exo-bold-webfont.woff') format('woff'),
       url('../fonts/exo/exo-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exobolditalic';
  src: url('../fonts/exo/exo-bolditalic-webfont.eot');
  src: url('../fonts/exo/exo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/exo/exo-bolditalic-webfont.woff') format('woff'),
       url('../fonts/exo/exo-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exoitalic';
  src: url('../fonts/exo/exo-italic-webfont.eot');
  src: url('../fonts/exo/exo-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/exo/exo-italic-webfont.woff') format('woff'),
       url('../fonts/exo/exo-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
