%animate, .animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.animate-med {
  @extend .animate;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animate-delay {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animate-delay-med {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}



.animate-width {
  transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
	-o-transition: width 0.5s ease-out;
}

.animate-enter,
.animate-leave
{
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
}

.select-outline {
  border: 1px solid transparent;
  -webkit-transition: 0.5s border linear, 0.25s box-shadow ease-out 0.25s;
  -moz-transition: 0.5s border linear, 0.25s box-shadow ease-out 0.25s;
  -o-transition: 0.5s border linear, 0.25s box-shadow ease-out 0.25s;
  transition: 0.5s border linear, 0.25s box-shadow ease-out 0.25s;
  &:hover, &.is-active {
    border-color: $white !important;
    outline: none;
    box-shadow: 0 0 10px $glow-color, $glow-color 0px 0px 7px inset;
    background: transparent;
  }
}

.reveal-10 {
	width: 10% !important;
}
.reveal-25 {
	width: 25% !important;
}
.reveal-50 {
	width: 50% !important;
}
.reveal-75 {
	width: 75% !important;
}
.reveal-100 {
	width: 100% !important;
}
.reveal-50{
  opacity: 1;
}
.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
}
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
}

