@font-face {
  font-family: 'Stratum Black';
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2993/style_stratum_black.eot');
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2987/style_stratum_black.woff') format('woff'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2983/style_stratum_black.ttf') format('truetype'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2995/style_stratum_black.svg#stratum') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum Black Oblique';
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2991/style_stratum_blackoblique.eot');
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2981/style_stratum_blackoblique.woff') format('woff'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2985/style_stratum_blackoblique.ttf') format('truetype'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2988/style_stratum_blackoblique.svg#stratum') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum Medium';
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2982/style_stratum_medium.eot');
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2984/style_stratum_medium.woff') format('woff'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2989/style_stratum_medium.ttf') format('truetype'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2990/style_stratum_medium.svg#stratum') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum Medium Oblique';
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2994/style_stratum_mediumoblique.eot');
  src:url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2992/style_stratum_mediumoblique.woff') format('woff'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2996/style_stratum_mediumoblique.ttf') format('truetype'),
    url('https://psdoc-cpt.s3.amazonaws.com/projects/7/asset_styles/2986/style_stratum_mediumoblique.svg#stratum') format('svg');
  font-weight: normal;
  font-style: normal;
}