$sub-menu-padding: 1rem;

.side-bar {
	max-width: 6rem;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(14, 72, 152, 0.4);
	height: 100%;
	vertical-align: top;
}

.side-bar-items {
	list-style-type: none;
	padding-top: 1rem;

	li:not(.sidebar-divider) {
		padding: 1.25rem 2rem;
		line-height: 1;
	}

	a {
		color: #fff;
	}
}

.sidebar-submenu {
	display: block;
	height: 100%;
	vertical-align: top;
	background: #142d9c;
	margin-left: 6rem;
}


.submenu-header {
	background: inherit;
	max-width: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5rem;
	z-index: 10;
}

.sidebar-divider {
  @extend .vertical-divider;
  width: 40%;
  padding: 0;
}

.submenu {
	position: relative;
	height: 100%;
	vertical-align: top;
	background: #142d9c;
	position: absolute;
	left: 6rem;
	top: 0;
	z-index: 10;

	a {
		color: #fff;
	}
}

.menu-padding {
	padding: $sub-menu-padding;
}

.submenu-close {
	float: right;
	margin: 0.65rem;
}
.submenu-header-text {
	float: left;
	padding-left: 0.5rem;
	font-weight: normal;
}

.submenu-content {
	margin-top: 8%;
	padding-bottom: 2.5rem;
	height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
}

.submenu-items {
	list-style-type: none;
	margin-bottom: 0;

	a {
		@extend .select-outline;
		display: block;
		padding: 0.75rem 0.5rem;
		line-height: 2rem;
		margin: 0.5rem 0;
	}


}
.submenu-label  {
	@extend .select-outline;
}

.submenu-items-header {
	font-size: 0.95rem;
}

.submenu-label {
	display: block;
	padding: 0.5rem;
	line-height: 2rem;
	margin: 0.5rem 0.375rem;
	color: #fff;
	font-size: 1rem;
}

.submenu-icon {
	width: 2rem;
	margin-right: 1rem;
}

.submenu-footer {
	text-align: right;
	position: absolute;
	right: $sub-menu-padding;
	bottom: $sub-menu-padding;
}



.submenu-search {
	text-align: left;
	width: 100%;
}

.is-running {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjYjRlZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNWJiOGVhIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(12,180,239,0.4) 0%, rgba(91,184,234,0) 70%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(12,180,239,0.4)), color-stop(70%,rgba(91,184,234,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(12,180,239,0.4) 0%,rgba(91,184,234,0) 70%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(12,180,239,0.4) 0%,rgba(91,184,234,0) 70%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(12,180,239,0.4) 0%,rgba(91,184,234,0) 70%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(12,180,239,0.4) 0%,rgba(91,184,234,0) 70%,rgba(125,185,232,0) 100%); /* W3C */
}


// resize icons based on vertical height
// @media screen and (max-height: 37em) {
// 	.side-bar {max-width: 4rem;}
// 	.sidebar-submenu {margin-left: 4em;}
// 	.side-bar-items {

// 		padding-top: 0.5rem;
// 		.icon-large {
// 			font-size: 1.5rem;
// 		}
		
// 		li:not(.vertical-divider) {
// 			padding: 0.5rem 1.25rem;
// 		}
// 	}
// 	.l-sidebar {
// 		width: 4rem;

// 	}

// }

